@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans/IRANSans.ttf);
}
@font-face {
    font-family: Kalameh-Regular;
    src: url(../fonts/Kalame/Kalameh\ Regular[editby].ttf);
}
@font-face {
    font-family: Kalameh-Bold;
    src: url(../fonts/Kalame/Kalameh_Bold[editby].ttf);
}
@font-face {
    font-family: Kalameh-Black;
    src: url(../fonts/Kalame/Kalameh\ Black[editby].ttf);
}