
/* start helper clases */
.title{
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    color: var(--first-color);
}
.title::before{
    content: '';
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    background-color: var(--first-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
}
.title::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    /* max-width: 25rem; */
    height: 60%;
    border-radius: 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius: 50rem;
    -ms-border-radius: 50rem;
    -o-border-radius: 50rem;
    background-color: rgba(176, 196, 222,20%);
    z-index: -1;
}
/* finish helper clases */