:root{
    --primary-font:'IRANSans';
    --dark-color:#111827;
    --white-color:#d3d3d3;
    --first-color:#ab82ff;
    /* --first-color:#8362c7; */
    --secound-color: rgb(176, 196, 222);
    --third-color:#7E37A9;
}